
    <div class="countainer-fluid bg-dark m-0">
      <div class="row m-0 text-white">
        <div class="col-4 my-5 text-center">
          <p>GET IN TOUCH</p>
          <div>
            <p>
              <i class="fas fa-envelope"></i>
              davidzaki77@gmail.com
            </p>
            <p>
              <i class="fas fa-phone "></i>
              717-355-743
            </p>
          </div>
        </div>

        <div class="col-4 my-5 text-center">
          <a  href="mailto:davidzaki77@gmail.com"  class="btn btn-dark btn-outline-light m-3"  role="button">Contact Me</a>
        </div>

        <div class="col-4 my-5 text-center">
          <a href="#" class="text-decoration-none link-light"><i class="fab fa-facebook-square mx-1"></i></a>
                <a href="#"class="text-decoration-none link-light"><i class="fab fa-instagram-square mx-1"></i></a>
                <a href="#" class="text-decoration-none link-light"><i class="fab fa-snapchat-square mx-1"></i></a>
                <a href="#" class="text-decoration-none link-light"><i class="fab fa-twitter mx-1"></i></a>
          <p>copy right &copy; 2022 KR</p>
        </div>
      </div>
    </div>
